<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Student Participation</display-name>
  <servlet>
    <servlet-name>LecturerAuthenServlet</servlet-name>
    <servlet-class>com.lecturer.LecturerAuthenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LecturerAuthenServlet</servlet-name>
    <url-pattern>/LecturerAuthen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.student.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAuthenServlet</servlet-name>
    <servlet-class>com.student.StudentAuthenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAuthenServlet</servlet-name>
    <url-pattern>/StudentAuthen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.group.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/Group</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.classes.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/Class</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailsServlet</servlet-name>
    <servlet-class>com.details.DetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsServlet</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.subject.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/Subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RewardServlet</servlet-name>
    <servlet-class>com.reward.RewardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RewardServlet</servlet-name>
    <url-pattern>/Reward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnrollServlet</servlet-name>
    <servlet-class>com.enroll.EnrollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollServlet</servlet-name>
    <url-pattern>/Enroll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>com.attendance.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/Attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.status.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>com.notification.NotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/Notification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentStatusServlet</servlet-name>
    <servlet-class>com.status.StudentStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentStatusServlet</servlet-name>
    <url-pattern>/StatusStudent</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>